h1 {
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

ul {
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(54, 53, 53);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(40, 94, 49);
  font-weight: bold;
}

.footer {
  padding-top: 13px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f3f3f3;
  color: rgb(54, 53, 53);
  text-align: center;
  border: 1px solid #e7e7e7;
}

.ativo {
  background-color: #04aa6d;
}

/* Formulário */

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  width: 99.5vw;
  height: 75vh;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form-inline {
  display: flex;
  flex: 50%;
}

.label-align {
  margin: 17px 3px 0px 3px;
}

.home-title {
  padding-top: 60px;
  font-family: sans-serif;
  text-align: center;
}

.align-carousel {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  overflow: hidden;
  max-width: 600px;
  position: relative;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #070707;
}

.carousel .carousel__actions button[data-js="carousel__button--prev"] {
  margin-left: 20px;
}

.carousel .carousel__actions button[data-js="carousel__button--next"] {
  margin-right: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

#content {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
